run="npm run serve --prefix server"

[nix]
channel = "stable-22_05"

[env]
NODE_ENV="production"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run serve --prefix server"]
deploymentTarget = "cloudrun"
